<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">

      <h1>Tasa de cambio BCN</h1>
      <p>Find me in app/views/home/index.html.erb</p>

      <%= bootstrap_form_tag url: getbcn_path, layout: :horizontal, label_errors: true do |f| %>
      <div class="col-md-10">
        <%= f.date_select :fecha, hide_label: true %>
      </div>
      <!-- selected: Date.today, order: [:day, :month, :year], -->

      <div class="controls form">
        <div class="col-md-12">
          <%= f.radio_button :opcion, 0, label: "Obtener tasa del dia", checked: true %>
        <!-- f.radio_button :opcion, 1, label: "Obtener tasa del mes"  -->
        </div>
      </div>

      <div class="form-group">

        <div class="col-md-12 text-center">
          <%= f.submit 'Obtener' , class: "btn btn-success" %>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>

<div class="alert alert-success text-center" role="alert">
  <%= notice %>
</div>
